html
	head
		title
			block title
	    meta(name="keywords", content="{{site.configs.keywords.escaped}}")
	    meta(name="description", content=site.raw_content.escaped)
	    link(rel="icon",href="/template/favicon.ico",type="image/x-icon")
	    link(rel="shortcut icon",href="/template/favicon.ico",type="image/x-icon")	
		meta(name="renderer", content="webkit")

		load('fonts')
		load('/template/sass/huxuyf.scss')
		if request.host == "shingu.farbox.com"
			redirect("http://www.huxuyf.info" + request.url_without_host)
	body
		#wrap
			#header.cf
				.logo
					<a href="/blog"><img src='/template/logo.jpg' alt="许逑涝谡饫"></img></a>
				.main-nav
					ul.menu
						li= a_with_selected('/blog', '首页')
						li= a_with_selected('/archive', '归档')
						//if has('about.md')
							li= a_with_selected('/about.md', '关于')
						li= a_with_selected('/about','关于')

			#main.cf
				block content

			#footer
				.copyright Powered by  <a href="http://www.farbox.com/">FarBox</a>.
					| Theme by <a href="http://motype.org/">衣不如新</a>,
					| Inspired by <a href="http://sxlf.org/">伤心凉粉</a>,
					| Modified by <a href="http://www.huxuyf.info/">许逑</a>. Thanks for <a href="https://db.tt/SnYtd6AO">Dropbox</a>.